.colorFondo{
	background-color: #EE4957;
}

#qrcode {
  width:160px;
  height:160px;
  margin-top:15px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #eb4646; /* Red */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}
div.sticky {
  position: sticky;
} 
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

[data-notifications] {
	position: relative;
}

[data-notifications]:after {
	content: attr(data-notifications);
	position: absolute;
	background: #450811;
	border-radius: 20%;
	display: inline-block;
	padding: 0.2em;
	color: #f2f2f2;
	right: -15px;
	top: -15px;
}