      
        
   <div class="modal fade" id="mdlLogin" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">
              
        <!-- Modal body -->
         	<div class="row">
          <div class="col-md-12">
              <div class="card-header colorFondo" align="center">
                Inicio de Session
              </div>
              <div class="card-body " align="center">
	
	<form ng-submit="login()" autocomplete="off">	
	<br><br><br>
			<div class="input-group">
			  <div class="input-group-prepend">
				<span class="input-group-text"><i class="fas fa-user" aria-hidden="true"></i></span>
			  </div>
			  <input type="text" class="form-control" placeholder="Usuario" ng-model="credentials.username" required>
			</div>   
			<br>
			<div class="input-group">
			  <div class="input-group-prepend">
				<span class="input-group-text"><i class="fas fa-key" aria-hidden="true"></i></span>
			  </div>
			  <input type="password" autocomplete="false" class="form-control" placeholder="Contraseña" ng-model="credentials.password" required>

			</div>
			<div class="captcha">
							<button type="submit" value="Guardar" class="btn">Ingresar</button>
						</div> 
		</form>
		<br><br><br>
		  </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>