 <div class="col-lg-12" align="center">
 
<!--  ALTA DE LOTES -->
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                   
                    <div class="col-md-2 px-1">
                      <div class="form-group">
                        <label>Duracion</label>
                        <select ng-model="altaLote.duracion" class="form-control">
						<option>Semanal</option>
						<option>Mensual</option>
					</select>
                      </div>
                    </div>
                    <div class="col-md-2 pl-1">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Tipo</label>
                        <select ng-model="altaLote.tipo" class="form-control">
						<option>Electronico</option>
						<option>Fisico</option>
					</select>
                      </div>
                    </div>
                    <div class="col-md-8 pl-1">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Sucursal</label>
                        <select ng-model="altaLote.idSucursal" class="form-control">
						<option ng-repeat="x in sucursalData" value="{{x.id}}" required>{{x.nombre}}</option>
					</select>
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Cantidad</label>
                        <input ng-model="altaLote.cantidad" type="number" class="form-control" placeholder="0" min="1" >
                        <label ng-show="(altaLote.cantidad * 1) > 100"" style="color: red">La cantidad no debe ser superior a 100</label>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="card-footer " align="right">
                <hr>
                <div class="">
                  <button class="btn" ng-click="addLote(altaLote)" ng-disabled="(altaLote.cantidad * 1) > 100"><i class="fa fa-save"></i> Guardar</button>
                </div>
              </div>
            </div>
            <!--  LISTA DE LOTES -->
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Lista Lote</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Tipo
                      </th>
                      <th>
                        Cantidad
                      </th>
                      <th>
                        Duracion
                      </th>
                      <th>
                        Sucursal
                      </th>
                      <th>
                        Acciones
                      </th>
                    </thead>
                    <tbody>
                      <tr ng-repeat="l in listLote">
                        <td>
                          {{l.tipo}}
                        </td>
                        <td>
                          {{l.cantidad}}
                        </td>
                        <td>
                          {{l.duracion}}
                        </td>
                   		<td>
                   		  {{l.idSucursal}}
                   		</td>
                   		<td >
                   		<button class="btn btn-primary" title="Ver" ng-show="l.tipo == 'Fisico'" ng-click="verMembresia(l.id)">
							<i class="fas fa-eye"></i>
							</button>
                   		  <button class="btn btn-success" title="Imprimir" ng-show="l.tipo == 'Fisico'" ng-click="imprimirFisico(l.id)">
							<i class="fas fa-print"></i>
							
						</button>
						<button class="btn btn-danger"   ng-click="eliminarLote(l.id)" data-toggle="delt" title="Se Eliminara el Elemento">
							<i class="fas fa-trash-alt"></i>
						</button>
                   		</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-6">
			<ul class="pagination pagination-lg" style="margin:0;">
				<li ng-repeat="abc in paginas" id="{{'pagA'+abc}}"
					ng-click="cargarPagina(abc)"><a>{{abc}}</a></li>

			</ul>
			
		</div>
              </div>
            </div>
            <!-- The Modal -->
<div class="modal" id="mdlShowMembresia">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Membresias</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
       <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Estatus
                      </th>
                      <th>
                        Duraci&oacute;
                      </th>
                      <th>
                        Fecha Activacion
                      </th>
                      <th>
                        Fecha Caducidad
                      </th>
                      <th>
                        Acciones
                      </th>
                    </thead>
                    <tbody>
                      <tr ng-repeat="l in membresiaData">
                        <td>
                          {{l.estatus}}
                        </td>
                        <td>
                          {{l.duracion}}
                        </td>
                        <td>
                          {{l.fechaActivacion}}
                        </td>
                   		<td>
                   		  {{l.fechaCaducidad}}
                   		</td>
                   		<td >
                   		
						<button class="btn btn-danger" title="Eliminar Membresia"  ng-click="eliminarMembresia(l.id)">
							<i class="fas fa-trash-alt"></i>
						</button>
                   		</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>

    </div>
  </div>
</div>
          </div>
           <script>

</script>