<div class="col-lg-12">
	<div class="card">
	<h5 class="card-header">
    Reporte de Rutas
  </h5>
  <div class="card-body">
  
		<!-- <div class="row">
		<div class="col-lg-1"></div>
			<div class="col-lg-2">
			<br>
				<a class="btn btn-info" data-toggle="tooltip" title="Imprimir Reporte Ruta"
					href="rutaMem/xlsRM/{{idSucursal}}" download="Reporte Rutas {{ CurrentDate | date:'dd-MM-yyyy'}}.xls"><i class="fas fa-file-excel"></i>Reporte Rutas</a>

			</div>
			<br>
		</div> -->
		
		<div class="row">
			<div class="col-md-4">
				<div class="input-group input-daterange">
					<input type="date" class="form-control" ng-model="fInicio">
					&nbsp;<div class="input-group-addon"> - </div>&nbsp;
					<input type="date" class="form-control" ng-model="fFin">
					<button class="btn btn-info" data-toggle="tooltip" title="Imprimir Reporte de Rutas" ng-click="printRuta(fInicio,fFin)"><i class="fas fa-file-excel"></i>Reporte Rutas</button>
				
				</div>
			</div>
			

	</div>
		
		</div>

	</div>
	<br>
	
	<div class="card">
	<h5 class="card-header">
    Reporte de Ventas
  </h5>
  <div class="card-body">
		<!-- <div class="row">
		<div class="col-lg-1"></div>
			<div class="col-lg-2">
			<br>
				<a class="btn btn-info" data-toggle="tooltip" title="Imprimir Reporte Ventas"
					href="venta/xlsVentas/{{idSucursal}}" download="Reporte Ventas {{ CurrentDate | date:'dd-MM-yyyy'}}.xls"><i class="fas fa-file-excel"></i>Reporte Ventas</a>

			</div>
		</div> -->
		
		<div class="row">
			<div class="col-md-4">
				<div class="input-group input-daterange">
					<input type="date" class="form-control" ng-model="fechaInicio">
					<div class="input-group-addon"> - </div>
					<input type="date" class="form-control" ng-model="fechaFin">
					<button class="btn btn-info" data-toggle="tooltip" title="Imprimir Reporte Ventas" ng-click="printVenta(fechaInicio,fechaFin)"><i class="fas fa-file-excel"></i>Reporte Ventas</button>
				
				</div>
			</div>
			

	</div>
		
		</div>

	</div>

</div>