 <div class="col-lg-12" align="center">
 
<!--  ALTA DE LOTES -->
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                   
                    <div class="col-md-4 px-1">
                      <div class="form-group">
                        <label>Ruta</label>
                        <select ng-model="altaRuta.ruta" class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					</select>
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Autobus</label>
                        <select ng-model="altaRuta.bus" class="form-control">
						<option>BUS101</option>
						<option>BUS102</option>
						<option>BUS103</option>
						<option>BUS103</option>
						<option>BUS104</option>
					</select>
                      </div>
                    </div>
                       <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label for="exampleInputEmail1">CHOFER</label>
                        <select ng-model="altaRuta.chofer" class="form-control">
						<option>JUAN</option>
						<option>PEDRO</option>
						<option>PABLO</option>
						<option>KEVIN</option>
						<option>MANUEL</option>
					</select>
                      </div>
                    </div>
                    <div class="col-md-12 pl-1">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Sucursal</label>
                        <select ng-model="altaRuta.idSucursal" class="form-control">
						<option ng-repeat="x in sucursalData" value="{{x.id}}" required>{{x.nombre}}</option>
					</select>
                      </div>
                    </div>
                   
                  </div>
              </div>
              <div class="card-footer " align="right">
                <hr>
                <div class="">
                  <button class="btn" ng-click="addRuta(altaRuta)"><i class="fa fa-save"></i> Guardar</button>
                </div>
              </div>
            </div>
<!--             LISTA RUTA -->

<div class="card">
              <div class="card-header">
                <h4 class="card-title"> Lista Ruta</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Sucursal
                      </th>
                      <th>
                        Autobus
                      </th>
                      <th>
                        Chofer
                      </th>
                      <th>
                        Ruta
                      </th>
                      <th>
                        Acciones
                      </th>
                    </thead>
                    <tbody>
                      <tr ng-repeat="l in listRuta">
                        <td>
                          {{l.idSucursal}}
                        </td>
                        <td>
                          {{l.bus}}
                        </td>
                        <td>
                          {{l.chofer}}
                        </td>
                   		<td>
                   		  {{l.ruta}}
                   		</td>
                   		<td >
                   		  <button class="btn btn-danger" title="Imprimir" ng-show="l.tipo == 'Fisico'" ng-click="imprimirFisico(l.id)">
							<i class="fas fa-print"></i>
						</button>
                   		</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </div>