 <div class="col-lg-12" align="center">
 <button class="btn" ng-click="formhide=false" ng-show="formhide"><i class="fa fa-user-plus"></i> Registrar Usuario</button>
 <button class="btn" ng-click="formhide=true" ng-show="!formhide"><i class="fa fa-user-slash"></i> Cancelar Registro</button>
<!--  ALTA DE Usuario -->
            <div class="card card-stats" ng-show="!formhide">
              <div class="card-body ">
                <div class="row">
                   
                    <div class="col-md-2 px-1">
                      <div class="form-group">
                        <label>Nombre de Usuario</label>
                         <input 
                          ng-model="altaUsuario.usuario" 
                         type="text" 
                         class="form-control" 
                         placeholder="Ingrese su usuario" 
                         required 
                         autocomplete="new_user" 
                         name="use">
                      </div>
                    </div>
                    <div class="col-md-2 pl-1">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Contrase&ntilde;a</label>
                         <input 
                         ng-model="altaUsuario.password" 
                         type="password" 
                         class="form-control" 
                         placeholder="Ingrese Contrase&ntilde;a" 
                         autocomplete="new-password" 
                         name="pass"
                         required
                         >
                      </div>
                    </div>
                    <div class="col-md-2 pl-1">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Repita Contrase&ntilde;a</label>
						 <input ng-model="confirmPsw"   ng-enable="altaUsuario.password" ng-change="validPassword()"
						 type="password" class="form-control" 
						 placeholder="Repita Contrase&ntilde;a" 
						 autocomplete="new-password" 
						 name="validPsw"
						 required>
					
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Correo</label>
                        <input ng-model="altaUsuario.email" 
                        type="email" 
                        class="form-control" 
                        autocomplete="new_mail" 
                        name="email"
                        placeholder="mail@mail.com"
                        required>
                      </div>
                    </div>
                     <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Sucursal</label>
                        <select ng-model="altaUsuario.idSucursal" class="form-control">
						<option ng-repeat="x in sucursalData" value="{{x.id}}" required>{{x.nombre}}</option>
					</select>
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Perfil</label>
                        <select ng-model="altaUsuario.perfil" class="form-control">
						<option ng-repeat="x in perfilData" ng-if="x.tipo!='SuperAdministrador'" required>{{x.tipo}}</option>
					</select>
                      </div>
                    </div>
                  </div>
                  <div name="Mostrar Error" ng-show="boxError">
                 <code>{{msgError | uppercase}}</code>
                  </div>
              </div>
              <div class="card-footer " align="right">
                <hr>
                
                <div class="">
                 <button class="btn" ng-click="formhide=true"><i class="fa fa-window-close"></i> Cancelar</button>
                  <button class="btn btn-success" ng-click="addUsuario(altaUsuario)"><i class="fa fa-save"></i> Guardar</button>
                </div>
              </div>
            </div>
            <!--  LISTA DE LOTES -->
            <div class="card" ng-show="formhide">
              <div class="card-header">
                <h4 class="card-title"> Lista de Usuarios</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Usuario</th>
								<th>Perfil</th>
								<th>Sucursal</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="usuario in listUser" ng-if="usuario.usuario!='root'">
								<td>{{usuario.usuario}}</td>
								<td><select ng-model="usuario.perfil">
										<option ng-repeat="p in perfilData" ng-if="p.tipo!='SuperAdministrador'" ng-value="{{p.id}}">{{p.tipo}}</option>
									</select></td>
									
								<td>{{usuario.idSucursal}}
							
										
									</td>
									
								<td><button type="button" class="btn btn-success"
										ng-click="actualiza(usuario)">Actualizar</button>
										<button type="button" class="btn btn-danger"
										ng-click="eliminar(usuario)">Eliminar</button>
										<!-- <button type="button" class="btn btn-link" ng-click="newPsw(usuario)">Cambiar Contraseña</button> -->
										</td>
										
							</tr>
						</tbody>
					</table>
                </div>
              </div>
            </div>
          </div>
          <!-- 	MODAL NUEVA CONTRASEÑA -->
	   <div class="modal fade" id="modalnewPsw" role="dialog" >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          
          <h4 class="modal-title">Asignar Nueva Contraseña</h4>
        </div>
        <div class="modal-body">
        
        Contrase&ntilde;a: <input type="password"
						class="form-control" name="pass" id="pass"
						title="La contrase&ntilde;a debe contener al menos 8 caracteres, incluidos MAYUSCULAS / minusculas y almenos un numero"
						ng-model="user.password"
						ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*)[A-Za-z\d]{8,}$/"
						required ng-change="validatePass()">
										
					<br>Confirmar Contrase&ntilde;a: <input type="password"
						class="form-control" name="passconfirm" id="passconfirm"
						ng-model="user.passconfirm"
						ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*)[A-Za-z\d]{8,}$/"
						required ng-change="validatePass()">
        <br><label ng-show="!form.pass.$valid">Debe contener 8 car&aacute;cteres, m&iacute;nimo, una may&uacute;scula, una min&uacute;scula y un n&uacute;mero.</label>
        </div>
         <div align="center">
          <div class="w-50 p-3" >
          <a class="btn btn-primary btn-block" style="color:white;" ng-click="actualizarpsw(user.password)" ng-disabled="!IsMatchP" >Actualizar</a>
          </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" >Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- 	FIN DE MODAL NUEVA CONTRASEÑA -->