 <div class="col-lg-12">
 

       <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                 <div class="col-lg-10"> 
                 <div class="row">
                    <div class="col-md-8 px-1">
                      <div class="form-group">
                        <label>Nombre</label>
                        <input ng-model="altaVenta.nombre" class="form-control"   >
                      </div>
                    </div>
                     <div class="col-md-2 pl-1">
                      <div class="form-group">
                        <label >Edad</label>
                        <input ng-model="altaVenta.edad" type="number" class="form-control"  min="1" >
                        
                      </div>
                    </div>
                    <div class="col-md-2 pl-1">
                      <div class="form-group">
                        <label >Sexo</label>
                        <select ng-model="altaVenta.sexo" class="form-control">
                        <option selected="selected" disabled>Seleccione</option>
						<option>Hombre</option>
						<option>Mujer</option>
					</select>
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label >Telefono</label>
                        <input ng-model="altaVenta.telefono" type="tel" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label >Correo</label>
                        <input ng-model="altaVenta.mail" type="email" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label >Duracion</label>
                         <select ng-model="altaVenta.duracion" class="form-control" ng-change="costo(altaVenta.duracion)">
                        <option selected="selected" disabled>Seleccione</option>
						<option>Semanal</option>
						<option>Mensual</option>
					</select>
                        
                      </div>
                    </div>
                    <div class="col-md-2 pl-1">
                      <div class="form-group">
                        <label >Precio</label>
                        <input ng-model="altaVenta.precio" type="number" class="form-control" placeholder="0" min="1" readonly>
                        
                      </div>
                    </div>
                         <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label >Sucursal</label>
                        <select ng-model="altaVenta.idSucursal" class="form-control">
                        <option selected="selected" disabled>Seleccione</option>
						<option ng-repeat="i in listSucursal" ng-value="i.id">{{i.nombre}}</option>
					</select>
                      </div>
                    </div>
                          <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label ></label>
                        <button class="btn" ng-click="getMembresia(altaVenta.duracion,altaVenta.idSucursal)"><i class="fa fa-ticket-alt fa-3x"></i></button>
                      </div>
                    </div>
                    </div>
                    </div>
                    <div class="col-md-2" >
                     <div class="row"  style="height: 470px; ">
                     <div ng-show="isMember" style="border-style: solid; border-color: #EE4957;">
                     <div  class="col-md-12 pl-1" style="height: 50px; background-color: #EE4957; vertical-align: bottom;">
         				<h5 style="color: white;" align="center">MEMBRESIA</h5>
         			</div>
         				 <div class="col-md-12 pl-1" style="">
         				<div align="center" id="qr" style=""></div>
                     	</div>
                     	<div class="col-md-12 pl-1">  
                     	<p>{{altaVenta.nombre | uppercase}}</p>
                     	</div>
                     	<div class="col-md-12 pl-1">  
                     	<p>DURACION: {{altaVenta.duracion | uppercase}}</p>
                     	</div>
                     </div>
                    </div>
                    </div> 
                    
                  </div>
              </div>
              <div class="card-footer " align="right">
                <hr>
                <div class="">
                  <button class="btn" ng-click="addVenta(altaVenta)"><i class="fa fa-save"></i> Guardar</button>
                </div>
              </div>
            </div>
 </div>