 <div class="col-lg-12">
 

       <div class="card card-stats" ng-show="_control">
              <div class="card-body ">
                <div class="row">
                 <div class="col-lg-10"> 
<!--                  Inicio el Formulario -->
                 <form name="myForm">
                 <div class="row">
                    <div class="col-md-8 px-1">
                      <div class="form-group">
                        <label>Nombre</label>
                        <input ng-model="altaVenta.nombre" class="form-control" required="required">
                      </div>
                    </div>
                     <div class="col-md-2 pl-1">
                      <div class="form-group">
                        <label >Edad</label>
                        <input ng-model="altaVenta.edad" type="number" class="form-control"  min="1" required="required">
                        
                      </div>
                    </div>
                    <div class="col-md-2 pl-1">
                      <div class="form-group">
                        <label >Sexo</label>
                        <select ng-model="altaVenta.sexo" class="form-control" required="required">
                        <option selected="selected" disabled>Seleccione</option>
						<option>Femenino</option>
						<option>Masculino</option>
					</select>
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label >Telefono</label>
                        <input ng-model="altaVenta.telefono" type="tel" class="form-control" required="required">
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label >Correo</label>
                        <input ng-model="altaVenta.mail" type="email" class="form-control" required="required">
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label >Duracion</label>
                         <select ng-model="altaVenta.duracion" class="form-control" ng-change="costo(altaVenta.duracion)" required="required">
                        <option selected="selected" disabled>Seleccione</option>
						<option>Semanal</option>
						<option>Mensual</option>
						<option>Semestral</option>
					</select>
                        
                      </div>
                    </div>
                       <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label >Tipo</label>
                         <select ng-model="altaVenta.tipo" class="form-control" required="required">
                        <option selected="selected" disabled>Seleccione</option>
						<option>Fisico</option>
						<option ng-disabled="altaVenta.duracion == 'Conveniente'">Electronico</option>
					</select>
                        
                      </div>
                    </div>
                        <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label >Publico</label>
                         <select ng-model="altaVenta.sector" class="form-control" required="required">
                        <option selected="selected" disabled>Seleccione</option>
						<option>General</option>
						<option>Conveniente</option>
						<option>Tercera Edad</option>
						<option>Grupo Mexia</option>
						<option>Estudiante</option>
						
					</select>
                        
                      </div>
                    </div>
                    <div class="col-md-2 pl-1">
                      <div class="form-group">
                        <label >Precio</label>
                        <input ng-model="altaVenta.precio" type="number" class="form-control" placeholder="0" min="1" readonly>
                        
                      </div>
                    </div>
                         <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label >Sucursal</label>
                        <select ng-model="altaVenta.idSucursal" class="form-control" required="required">
                        <option selected="selected" disabled>Seleccione</option>
						<option ng-repeat="i in listSucursal" ng-value="i.id">{{i.nombre}}</option>
					</select>
                      </div>
                    </div>
                    </form>
<!--                     Fin Formulario -->
                          <div class="col-md-4 pl-1">
                      <div class="" style="vertical-align: middle;">
                        <button ng-show="!altaVenta.idMembresia" ng-disabled="myForm.$invalid" class="btn" ng-click="getMembresia(altaVenta.duracion,altaVenta.tipo,altaVenta.idSucursal)"><i class="fa fa-ticket-alt fa-3x"></i></button>
                        <i ng-show="altaVenta.idMembresia" class="fas fa-check-circle fa-3x text-success"></i>
                      </div>
                    </div>
                    </div>
                    
                    </div>
                    <div class="col-md-2" >
                     <div ng-show="isMember" class="row"  style="height: 680px; ">
                     <div >
                     <div  class="col-md-12 pl-1" style="height: 50px; background-color: #EE4957; vertical-align: bottom;">
         				<h5 style="color: white;" align="center">MEMBRESIA</h5>
         			</div>
         				 <div class="col-md-12 pl-1" style="" name="codigoQR">
         				<div align="center" id="qr" style=""></div><br>
         				<p align="center">{{newMem.id}}</p>
                     	</div>
                     	<div class="col-md-12 pl-1" name="nombreCliente">  
                     		<div class="text-white colorFondo">
								  <div class="card-header">
								    NOMBRE
								  </div>
								  <div class="card-body">
								    <p>{{altaVenta.nombre | uppercase}}</p>
								  </div>
							</div>
                     	
                     	</div>
                     	<div class="col-md-12 pl-1" name="duracionMembresia">  
                     	<div class="text-white colorFondo">
								  <div class="card-header">
								    DURACION
								  </div>
								  <div class="card-body">
								   <p>{{newMem.duracion | uppercase}}</p>
								  </div>
							</div>
                     	
                     	</div>
                     	<div class="col-md-12 pl-1" name="tipoMembresia">
                     	<div class="text-white colorFondo">
								  <div class="card-header">
								    TIPO
								  </div>
								  <div class="card-body">
								  <p>{{newMem.tipo | uppercase}}</p>
								  </div>
							</div>  
                     	
                     	</div>
                     	
                     </div>
                     <div class="col-md-12 pl-1  class="fixed-bottom" name="tipoMembresia">
                     	<a class="form-control btn btn-default" ng-click="cancelOp()">Cancelar</a>
							 
                     	
                     	</div>
                     
                    </div>
                    </div> 
                    
                  </div>
              </div>
              <div class="card-footer " align="right">
                <hr>
                <div class="">
                <button class="btn btn-danger" ng-click="nuevaVenta(false)"><i class="fas fa-window-close"></i> Cancelar</button>
                  <button class="btn btn-success" ng-show="altaVenta.idMembresia" ng-click="addVenta(altaVenta)"><i class="fa fa-save"></i> Guardar</button>
                </div>
              </div>
            </div>
            
             <!--  LISTA DE VENTAS -->
            <div class="card" ng-show="!_control">
              <div class="card-header" align="center">
                <h4 class="card-title"> VENTAS</h4>
              </div>
              <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-4">
              
              <button class="btn" ng-click="nuevaVenta(true)"><i class="fas fa-shopping-cart"></i> Nueva Venta</button>
              
              </div>
              </div>
              <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-3">
              
              <div class="input-group">
  <input type="text" ng-model="bMember" class="form-control" placeholder="Buscar Membresia">
  <div class="input-group-append">
  &nbsp;
    <button class="btn btn-success" ng-click="buscaMembresia(bMember)"><i class="fas fa-search"></i></button>
  </div>
</div>
</div>
              	
              </div>
              
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Membresia
                      </th>
                      <th>
                        Usuario
                      </th>
                      <th>
                        Correo
                      </th>
                      <th>
                        Precio
                      </th>
                     <!--  <th>
                        Acciones
                      </th> -->
                    </thead>
                    <tbody>
                      <tr ng-repeat="l in ventaList">
                        <td>
                          {{l.idMembresia}}
                        </td>
                        <td>
                          {{l.nombre}}
                        </td>
                        <td>
                          {{l.mail}}
                        </td>
                   		<td>
                   		  {{l.precio | currency}}
                   		</td>
                   		<!-- <td >
                   		<button class="btn btn-primary" title="Ver" ng-show="l.tipo == 'Fisico'" ng-click="verMembresia(l.id)">
							<i class="fas fa-eye"></i>
							</button>
                   		  
                   		</td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-6">
			<ul class="pagination pagination-lg" style="margin:0;">
				<li ng-repeat="abc in paginas" id="{{'pagA'+abc}}"
					ng-click="cargarPagina(abc)"><a>{{abc}}</a></li>

			</ul>
			
		</div>
              </div>
            </div>
 <div class="modal fade" id="mdlResultMem" tabindex="-1" role="dialog" aria-labelledby="Reactivacion" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalles</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Membresia
                      </th>
                      <th>
                        Tipo
                      </th>
                      <th>
                        Duracion
                      </th>
                      <th>
                        Estatus
                      </th>
                      <th>
                        Acciones
                      </th>
                    </thead>
                    <tbody>
                      <tr >
                        <td>
                          {{membresia.id}}
                        </td>
                        <td>
                          {{membresia.tipo}}
                        </td>
                        <td>
                          {{membresia.duracion}}
                        </td>
                   		<td>
                   		  {{membresia.estatus}}
                   		</td>
                   		<td >
                   		<button ng-if="(membresia.estatus == 'ACTIVA')" class="btn btn-danger" title="Desactivar Membresia"  ng-click="eliminarMembresia(membresia.id)">
							<i class="fas fa-ban"></i>
						</button>
						<button ng-if="(membresia.estatus == 'INACTIVA')" class="btn btn-success" title="Reactivar Membresia"  ng-click="reactivarMembresia(membresia.id)">
							<i class="fas fa-cart-plus"></i>
						</button>
                   		  
                   		</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>